<h1>About me</h1>
<p>Find me in app/views/pages/about.html.erb</p>

<hr>

<div class="row">
    <div class="col-md-4">
      <img src= width="300" alt="Profile Image">
      
      <%= image_tag "http://via.placeholder.com/350x150", width: 300, alt: "profile image" %>
    </div>
    
    <div class="col-md-8">
        <p>Using images in a Rails application is a task that you'll be 
        asked to perform quite regularly. In this guide 
        I'll walk through how to incorporate images into an application,
        starting with a manual </p>
        
        <p>Using images in a Rails application is a task that you'll be 
        asked to perform quite regularly. In this guide 
        I'll walk through how to incorporate images into an application,
        starting with a manual </p>
    </div>
</div>